table
{
    border: 1px solid black;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#pinkColor
{
    background-color:rgb(255, 217, 192);
}

#greenColor
{
    background-color:rgb(168, 221, 23);
}